.dashboard-container {
  display: flex;
  min-height: 100vh;
  font-family: "Segoe UI", sans-serif;
  background: #f4f6f9;
}

/* MAIN */
.main-content {
  flex: 1;
  padding: 20px;
}

/* TOPBAR */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-info img {
  border-radius: 50%;
}

/* STATS */
.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.card h3 {
  font-size: 14px;
  color: #555;
}

.card p {
  font-size: 26px;
  font-weight: bold;
  color: #0f4c75;
}

/* CONTENT */
.content-box {
  background: white;
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
}
